@import url('https://rsms.me/inter/inter-ui.css');

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Inter UI', sans-serif;
  color: #091e42;

  transition: all 0.1s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  opacity: 0.7;
  line-height: 1.6;
}
